.classification {
    padding: 4px 8px;
    border-radius: 6px;
    background: #fff3cd;
    color: #856404;
    font-size: 12px;
    font-weight: bold;
}

.element-normal_request{
     border-radius: 6px;
      background: #fff3cd;
    color: #856404;

}